<!DOCTYPE html>
<html lang="en">
    <head>
        <title>image to url converter</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="KuByX">
        <meta property="og:image" content="/images/<%= image %>">

        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/fonts.css">
    </head>
    <body>
        <div class="center">
            <h1>Here's that image!</h1>
            <img src="/images/<%= image %>" height="480" width="480">
        </div>
    </body>
</html>
